# Dependencias Node / React
node_modules/
frontend-react/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compilación intermedia .NET
backend-dotnet/**/bin/
backend-dotnet/**/obj/
*.user
*.suo
.vs/

# Llaves criptográficas generadas en tiempo de ejecución
backend-dotnet/**/Data/hmac_secret.key

# Archivos del sistema operativo
.DS_Store
Thumbs.db
